/* globals.css */
@layer base, mantine, tailwind;

@layer base {
  /* TailwindCSS의 기본 스타일 */
  @import 'tailwindcss';
}

@layer mantine {
  /* Mantine의 스타일 */
  @import '@mantine/core/styles.layer.css';
}

@layer tailwind {
  /* TailwindCSS의 컴포넌트 및 유틸리티 스타일 */
  @import 'tailwindcss';
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}
